{% extends "layout.html" %}
{% block content %}
    <h3>Add Short URL</h3>

    <form class="uk-form-horizontal uk-margin" method="POST" action="{{ url_for('main.add_url') }}">
        <div class="uk-margin">
            <input class="uk-input uk-width-5-6" type="text" name="original_url" placeholder="Original URL">
            <button class="uk-button uk-button-primary" type="submit">Shortenen</button>
        </div>
    </form>
{% endblock content %}
