<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>

    {% if title %}
        <title>URL Shortener - {{ title }}</title>
    {% else %}
        <title>URL Shortener</title>
    {% endif %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="uk-container uk-height-viewport uk-position-relative">
        <div class="uk-section">
            <div class="uk-container">
                {% block content %} {% endblock %}
            </div>
        </div>
        <footer class="uk-section-xsmall uk-position-bottom uk-position-absolute">
            <div class="uk-container uk-position-center">
                <p>Made by <a class="uk-link-text" href="#" target="_blank">&#129514; CadenaLabs </a>&#8226; 2020</p>
            </div>
        </footer>
    </div>
</body>
</html>