{% extends "layout.html" %}
{% block content %}
    <h3>URL Stats</h3>

    <table class="uk-table uk-table-divider uk-table-hover">
        <thead>
            <tr>
                <th class="uk-width-xlarge">Original URL</th>
                <th>Short Code</th>
                <th>Visits Count</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls.items %}
            <tr>
                <td><img src="https://www.google.com/s2/favicons?domain={{ url.original_url }}" alt="favicon"/><a href="{{ url.original_url }}">{{ url.original_url }}</a></td>
                <td><a href="{{ url_for('main.redirect_to_url', short_code=url.short_code, _external=True) }}">{{ url.short_code }}</a></td>
                <td>{{ url.visits }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="uk-pagination">
        <li><a href="{{ url_for('main.stats', page=urls.prev_num)}}"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
        <li class="uk-margin-auto-left"><a href="{{ url_for('main.stats', page=urls.next_num) }}">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
    </ul>
{% endblock content %}