<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>

    <title>Url Added</title>
</head>
<body>
    <div class="uk-section">
        <div class="uk-container">

            <h3>Short URL</h3>

            <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
                <h3 class="uk-card-title">{{ original_url }}</h3>
                <p>Short Code: <a href="{{ url_for('main.redirect_to_url', short_code=short_code, _external=True) }}">{{ short_code }}</a></p>
            </div>

        </div>
    </div>
</body>
</html>